html, .bg
{
	background-image: url("../Images/pattern-1.png");
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	
	background: url("../images/pattern-1-gimmick.png") center 0px repeat-y;
	font-family: 'Roboto Condensed', sans-serif;
}

* {
  border-radius: 0 !important;
}

.topIndent
{
	margin-top:20px;
	background:white;
	height:150px;
}

.socialHeader
{
	padding-top:10px;
	align:right;
}

.masthead
{
	background-image: url("../Images/mini-hero-bg.png");
}

.topHeadBlue
{
	background: #1bc4de;
	height:5px;
}

.header
{
	height: 120px;
	margin-top:20px;
}

.headerContactDiv
{
	margin-top:30px;
	font-size: 14px; 
	color: #aaa;
}

.navbar
{
	margin-left:-15px;
	margin-right:-15px;
}

.AdRotator
{
	background: white;
	height:400px;
	margin-left:-15px;
	margin-right:-15px;
}

.AdRotatorWrapper
{
	padding-bottom: 50px;
	  background-repeat: no-repeat;
	  height:390px;
	  background-image: url("../images/top-slider-bottom-shadow.png");
	  background-position: center bottom;
	  -webkit-background-size: 100% 50px;
	  -moz-background-size: 100% 50px;
	  background-size: 100% 50px;
}

.item
{
	background-image: url("../images/AdRotatorBG.png");
}

.carousel-indicators
{
	background-image: url("../images/RotatorButtonsBg.png");
	background-size: 100px 20px;
    background-repeat: no-repeat;
	background-position: center;
}

.mainBody
{
	background: white;
	margin-left:-15px;
	margin-right:-15px;	
}

.separator
{
	background: white;
	margin-left:-15px;
	margin-right:-15px;	
	height:30px;
}

.dottedLine {
	background-image: url("../images/border-horizontal.png");
	height:1px;
	margin-left:20px;
	margin-right:20px;
}

.navbar
{
margin-bottom:0px;
}

.footerDesign
{
	background-image: url("../Images/content-bot.gif");
	height:5px;
	background-repeat: repeat-x;
}

.foothead
{
	background-image: url("../Images/copyrights.png");
}


 .carousel-caption 
 {
	left:70%;
	right:0%;
	padding-bottom:00px;
 }
 
 .bottomFooterGrey
 {
	background-color: #eaeaea;
	height:5px;
 }
 
 .bottomFooterBlue
 {
	background-color:#1bc4de;
	height:60px;
	color:white;

 }
 
 .FooterBlueContent
 {
	padding-top:20px;
	width:400px; 
	margin:0 auto;
 }
 
 .FooterBlackContent
 {
	padding-top:15px;
 }
 
 .FooterBlueContent a
 {
	color:white;
 }
 
 .bottomFooterDarkGray
 {
	background-color:#3a3a3a;
	color:white;
	padding-left:15px;
 }
 
 .bottomFooterBlack
 {
	background-color:#222222;
	height:50px;
	color:#999999;
 }
 
 .footerContacts a:link,
 .footerContacts a:hover
 {
	color:white;
 }
 
.footerProducts  a,
.footerProducts a:link,
.footerProducts a:hover
 {
	color:Gray;
 }
 
//**** Start Carousel ****//
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 12px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}

.carousel-control
{
	width:8%;
}


.BannerMain
{
	background:yellow;
	width:900px;
}
    
.BannerLeft
{
    display:block;
    float:left;
	background:green;
    }
    
.BannerRight
{
    display:block;
    float:right;
	background:blue;
    }
//**** End Carousel ****//
